ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}
html{
   text-align: center;
}

/* Write your CSS below, don't change the rules above. */

.note{
  color: red;
}

#id-selector-demo{
  color: green;
}


li[value="4"]{
  color:blue;
}
li[value="2"]{
  color:black;
}
li[value="5"]{
  color:black;
}

